In [24]:
import pandas as pd 
import numpy as np

import seaborn as sns
import matplotlib.pyplot as plt

In [69]:
brunson_data = pd.read_csv("../data/jalen_brunson.csv")

brunson_data.shape

(83, 34)

In [70]:
#Drop the rows for columns that have inactive or did not dress.

inactive = brunson_data['2P'] == "Inactive"
no_dress = brunson_data['2P'] == "Did Not Dress"

brunson_data_cleaned = brunson_data.drop(brunson_data[inactive | no_dress].index)

print(brunson_data_cleaned.shape)
brunson_data_cleaned.tail(5)

(66, 34)

,Rk,Gcar,Gtm,Date,Team,Unnamed: 5,Opp,Result,GS,MP,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-
77,62.0,484.0,78.0,2025-04-06,NYK,NaN,PHO,W 112-98,1,34:27,...,2,2,6,1,0,3,2,15,11.1,9
78,63.0,485.0,79.0,2025-04-08,NYK,NaN,BOS,L 117-119 (OT),1,38:26,...,1,1,10,0,0,2,1,27,21.2,-2
79,64.0,486.0,80.0,2025-04-10,NYK,@,DET,L 106-115,1,29:17,...,0,2,5,0,2,3,2,15,7.8,-11
80,65.0,487.0,81.0,2025-04-11,NYK,NaN,CLE,L 102-108,1,36:17,...,1,1,2,1,0,3,1,27,17.6,-6
82,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40-25,65,2301,...,160,187,475,60,8,164,138,1690,20.0,146

In [72]:
# Remove the row that sums up all the statistics 

brunson_data_cleaned2 = brunson_data_cleaned.iloc[:-1 , :]

print(brunson_data_cleaned2.shape)

brunson_data_cleaned2.tail(5)

(65, 34)

,Rk,Gcar,Gtm,Date,Team,Unnamed: 5,Opp,Result,GS,MP,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-
61,61.0,483.0,62.0,2025-03-06,NYK,@,LAL,L 109-113 (OT),1,41:11,...,4,4,10,0,0,3,2,39,30.0,-8
77,62.0,484.0,78.0,2025-04-06,NYK,NaN,PHO,W 112-98,1,34:27,...,2,2,6,1,0,3,2,15,11.1,9
78,63.0,485.0,79.0,2025-04-08,NYK,NaN,BOS,L 117-119 (OT),1,38:26,...,1,1,10,0,0,2,1,27,21.2,-2
79,64.0,486.0,80.0,2025-04-10,NYK,@,DET,L 106-115,1,29:17,...,0,2,5,0,2,3,2,15,7.8,-11
80,65.0,487.0,81.0,2025-04-11,NYK,NaN,CLE,L 102-108,1,36:17,...,1,1,2,1,0,3,1,27,17.6,-6

In [73]:
brunson_data_cleaned2.describe()

             Rk       Gcar        Gtm
count  65.00000   65.00000  65.000000
mean   33.00000  455.00000  34.415385
std    18.90767   18.90767  21.109012
min     1.00000  423.00000   1.000000
25%    17.00000  439.00000  17.000000
50%    33.00000  455.00000  33.000000
75%    49.00000  471.00000  50.000000
max    65.00000  487.00000  81.000000

In [ ]:
#convert column data type to int so that we can summarize the data

print(brunson_data_cleaned2["AST"].dtype)
print(brunson_data_cleaned2["MP"].dtype)
brunson_data_cleaned2[["PTS"]].apply(pd.to_numeric)
print(brunson_data_cleaned2["DRB"].dtype)


brunson_data_cleaned2["DRB"].mean()
brunson_data_cleaned2.describe()

object
object
int64

             Rk       Gcar        Gtm        DRB        TRB
count  65.00000   65.00000  65.000000  65.000000  65.000000
mean   33.00000  455.00000  34.415385   2.461538   2.876923
std    18.90767   18.90767  21.109012   1.591746   1.653667
min     1.00000  423.00000   1.000000   0.000000   0.000000
25%    17.00000  439.00000  17.000000   1.000000   2.000000
50%    33.00000  455.00000  33.000000   2.000000   3.000000
75%    49.00000  471.00000  50.000000   3.000000   4.000000
max    65.00000  487.00000  81.000000   6.000000   7.000000

In [64]:
brunson_data_cleaned2[["Outcome", "Score"]] = brunson_data_cleaned2['Result'].str.split(' ', n=1, expand=True)

brunson_data_cleaned2

/var/folders/wx/n3nghw29261195fbm316p8xm0000gn/T/ipykernel_93044/1982387967.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  brunson_data_cleaned2[["Outcome", "Score"]] = brunson_data_cleaned2['Result'].str.split(' ', n=1, expand=True)
/var/folders/wx/n3nghw29261195fbm316p8xm0000gn/T/ipykernel_93044/1982387967.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  brunson_data_cleaned2[["Outcome", "Score"]] = brunson_data_cleaned2['Result'].str.split(' ', n=1, expand=True)

,Rk,Gcar,Gtm,Date,Team,Unnamed: 5,Opp,Result,GS,MP,...,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-,Outcome,Score
0,1.0,423.0,1.0,2024-10-22,NYK,@,BOS,L 109-132,1,24:30,...,2,0,0,4,3,22,12.3,-23,L,109-132
1,2.0,424.0,2.0,2024-10-25,NYK,NaN,IND,W 123-98,1,29:55,...,5,0,0,1,1,26,20.7,36,W,123-98
2,3.0,425.0,3.0,2024-10-28,NYK,NaN,CLE,L 104-110,1,37:36,...,7,0,0,1,2,21,10.6,0,L,104-110
3,4.0,426.0,4.0,2024-10-30,NYK,@,MIA,W 116-107,1,36:22,...,9,0,0,1,0,22,17.3,5,W,116-107
4,5.0,427.0,5.0,2024-11-01,NYK,@,DET,W 128-98,1,30:40,...,5,2,0,2,2,36,28.4,23,W,128-98
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61,61.0,483.0,62.0,2025-03-06,NYK,@,LAL,L 109-113 (OT),1,41:11,...,10,0,0,3,2,39,30.0,-8,L,109-113 (OT)
77,62.0,484.0,78.0,2025-04-06,NYK,NaN,PHO,W 112-98,1,34:27,...,6,1,0,3,2,15,11.1,9,W,112-98
78,63.0,485.0,79.0,2025-04-08,NYK,NaN,BOS,L 117-119 (OT),1,38:26,...,10,0,0,2,1,27,21.2,-2,L,117-119 (OT)
79,64.0,486.0,80.0,2025-04-10,NYK,@,DET,L 106-115,1,29:17,...,5,0,2,3,2,15,7.8,-11,L,106-115
80,65.0,487.0,81.0,2025-04-11,NYK,NaN,CLE,L 102-108,1,36:17,...,2,1,0,3,1,27,17.6,-6,L,102-108